<nav>
  <ul>
    <li>
      <button
        mat-raised-button
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <!-- Esto hace que el enlace solo sea activo cuando la ruta exacta coincide -->
        All Tasks
      </button>
    </li>
    <li>
      <button
        mat-flat-button
        routerLink="/add-tasks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Add Tasks
      </button>
    </li>
  </ul>
</nav>
