<!-- MODAL -->
<!-- MODAL -->
<!-- task-list-component.component.html -->
<app-modal
  [showModal]="showModal"
  (close)="onCloseModal()"
  (taskUpdatedModal)="onTaskUpdated($event)"
>
</app-modal>

<!-- MODAL -->
<!-- MODAL -->

<div class="container-cards">
  <mat-card
    *ngFor="let task of tasks"
    class="example-card"
    [ngClass]="{
      'medium-priority': task.type === 'medium priority',
      finished: task.status === 'finished',
      urgent: task.type === 'urgent'
    }"
  >
    <!-- BOTON EDIT  -->
    <!-- BOTON EDIT  -->
    <mat-card-header>
      <!-- <mat-card-subtitle>Task {{ task.id }}</mat-card-subtitle> -->
      <mat-card-title
        >{{ task.title }}
        <h3>{{ task.type }}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ task.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- BOTON EDIT  -->
      <!-- BOTON EDIT  -->
      <app-edit-task
        (openModal)="onOpenModal()"
        [taskId]="task.id"
      ></app-edit-task>

      <app-button-delete
        [id]="task.id"
        (taskDeleted)="onTaskDeleted(task.id)"
      ></app-button-delete>

      <app-button-edit
        [id]="task.id"
        [status]="task.status"
        (statusChange)="onStatusChange($event, task.id)"
      >
        >
      </app-button-edit>
    </mat-card-actions>
  </mat-card>
</div>
