$secondary-color: #3f51b5;

.container-cards {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  min-width: 20%;
  max-width: 20%;
  background-color: #3f51b5;
  & h3 {
    color: white !important;

    color: $secondary-color;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
mat-card-content {
  min-width: 40%;
  max-width: 40%;
}
.example-card {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 8rem; /* Fija la altura de las tarjetas */
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.177);
  border: 1px solid $secondary-color;
  margin: 0.5rem;
}

mat-card-actions {
  min-width: 40%;
  max-width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

mat-card-title {
  color: $secondary-color;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: white !important;
}

mat-card-subtitle {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
  text-transform: capitalize;
}

/* Estilo para el estado "in-progress" */
.medium-priority {
  border: 2px solid orange !important;
}

/* Estilo para el estado "finished" */
.urgent {
  border: 2px solid red !important;
  color: red !important;
}

.finished {
  border: 2px solid green !important;
  color: green !important;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 1024px) {
  .container-cards {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Dos columnas en pantallas medianas */
  }
}

/* Responsividad para pantallas medianas, 2 columnas */
@media screen and (min-width: 400px) and (max-width: 769px) {
  .container-cards {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Dos columnas en pantallas medianas */
  }

  .example-card {
    height: auto; /* Ajusta la altura de la tarjeta en pantallas medianas */
  }
}

@media screen and (min-width: 200px) and (max-width: 399px) {
  .container-cards {
    grid-template-columns: 1fr;
  }

  .example-card {
    height: auto; /* Ajusta la altura de la tarjeta en pantallas pequeñas */
  }
}
