<!-- MODAL -->
<!-- MODAL -->
<!-- task-list-component.component.html -->
<app-modal
  [showModal]="showModal"
  (close)="onCloseModal()"
  (taskUpdatedModal)="onTaskUpdated($event)"
>
</app-modal>

<!-- MODAL -->
<!-- MODAL -->

<div class="container-cards">
  <mat-card
    *ngFor="let task of tasks; trackBy: trackByTaskId"
    class="example-card"
    [ngClass]="{
      'in-progress': task.status === 'in-progress',
      finished: task.status === 'finished'
    }"
  >
    <!-- BOTON EDIT  -->
    <!-- BOTON EDIT  -->
    <app-edit-task
      (openModal)="onOpenModal()"
      [taskId]="task.id"
    ></app-edit-task>

    <!-- BOTON EDIT  -->
    <!-- BOTON EDIT  -->
    <mat-card-header>
      <mat-card-subtitle>Task {{ task.id }}</mat-card-subtitle>
      <mat-card-title>{{ task.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>{{ task.type }}</h3>

      <p>
        {{ task.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <app-button-delete
        [id]="task.id"
        (taskDeleted)="onTaskDeleted(task.id)"
      ></app-button-delete>

      <app-button-edit
        [id]="task.id"
        [status]="task.status"
        (statusChange)="onStatusChange($event, task.id)"
      >
        >
      </app-button-edit>
    </mat-card-actions>
  </mat-card>
</div>
