$secondary-color: #3f51b5;

.container-cards {
  width: 90%; /* Asegura que la cuadrícula tenga un ancho flexible */
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas */
  grid-gap: 1rem; /* Espacio entre las tarjetas */
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 280px; /* Fija la altura de las tarjetas */
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.177);
  border: 1px solid $secondary-color;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

mat-card-title {
  color: $secondary-color;
  text-transform: capitalize;
  font-size: 1.5rem;
}

mat-card-subtitle {
  font-size: 1rem;
}

h3 {
  color: $secondary-color;
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  font-size: 0.9rem;
  text-transform: capitalize;
}

/* Estilo para el estado "in-progress" */
.in-progress {
  border: 1px solid red !important;
}

/* Estilo para el estado "finished" */
.finished {
  border: 1px solid green !important;
  color: green !important;

  mat-card-title {
    color: green;
  }

  h3 {
    color: green;
  }
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 1024px) {
  .container-cards {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Dos columnas en pantallas medianas */
  }
}

/* Responsividad para pantallas medianas, 2 columnas */
@media screen and (min-width: 400px) and (max-width: 769px) {
  .container-cards {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Dos columnas en pantallas medianas */
  }

  .example-card {
    height: auto; /* Ajusta la altura de la tarjeta en pantallas medianas */
  }
}

@media screen and (min-width: 200px) and (max-width: 399px) {
  .container-cards {
    grid-template-columns: 1fr;
  }

  .example-card {
    height: auto; /* Ajusta la altura de la tarjeta en pantallas pequeñas */
  }
}
