<div class="container-cards">
  <mat-card
    *ngFor="let task of tasks"
    class="example-card"
    [ngClass]="{
      'in-progress': task.status === 'in-progress',
      finished: task.status === 'finished'
    }"
  >
    <mat-card-header>
      <mat-card-subtitle>Task {{ task.id }}</mat-card-subtitle>
      <mat-card-title>{{ task.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>{{ task.type }}</h3>

      <p>
        {{ task.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <app-button-edit
        [id]="task.id"
        [status]="task.status"
        (statusChange)="onStatusChange($event, task.id)"
      >
        >
      </app-button-edit>
    </mat-card-actions>
  </mat-card>
</div>
