@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$primary-color: #008080;
$secondary-color: #053b50;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: whitesmoke !important;
  background-image: url("./assets/about.png");
}

/* Estilo para el botón personalizado */
.custom-button {
  background-color: #053b50 !important; /* Color de fondo del botón */
  color: white !important; /* Color del texto del botón */
  width: 100%; /* Hacer que el botón ocupe todo el ancho */
}
.custom-button:hover {
  background-color: #045a6c !important; /* Cambiar el color del botón al pasar el mouse */
}

/* Estilos para el botón de confirmación */
.swal-confirm-button {
  background-color: #053b50 !important; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #053b50cd !important; /* Cambia el color de fondo al pasar el cursor */
  }
}

/* Estilos para el botón de cancelación */
.swal-cancel-button {
  background-color: #7f0e05; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: rgba(
      159,
      15,
      5,
      0.804
    ); /* Cambia el color de fondo al pasar el cursor */
  }
}
